html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	margin: 0;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	padding-left: 200px;
	padding-right: 200px;
}
/* menu */
.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
.nav-logo {
	width: 35px;
}
.nav-box {
	display: flex; 
	flex-wrap: wrap;
	align-items: center;
}
.nav-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav-item {
	margin-right: 30px;
}
.nav-link {
	text-decoration: none;
	color: #444;
}
.nav-form {
	margin-left: 15px;
}
.nav-input {
	outline: none;
	border: none;
	border-bottom: 1px solid #555;
}
/* home */
.home {
	height: 550px;
	display: flex;
	align-items: center;
	background-image: url("img/watch.jpg");
	background-repeat: no-repeat;
	background-size: 520px;
	background-position: right -200px bottom -50px;
	border-bottom: 2px solid #888;
	margin-bottom: 45px;
}
.home-box {
	width: 50%;
}
.box-title {
	font-size: 30px;
	margin-top: 0;
}
.box-text {
	padding-left: 20px;
	border-left: 2px solid #888;
}
.box-link {
	text-decoration: none; 
	text-transform: uppercase;
	color: white;
	background-color: tomato;
	padding: 7px 15px;
	display: inline-block;
	font-weight: bold;
}
/* articles */
.articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 45px;
}
.article {
	width: 31%;
}
.article-dots {
	display: inline-flex;
}
.article-dot {
	width: 5px;
	height: 5px;
	background-color: silver;
	margin-right: 7px;
}
.article-link {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
}
.line {
	display: inline-block;
	width: 30px;
	height: 2px;
	background-color: tomato;
	margin-right: 7px;
}
.text {
	color: tomato;
	text-transform: uppercase;
	font-weight: bold;
}
/* band */
.band {
	margin-bottom: 45px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.band-box {
	width: 50%;
}
.band-img {
	width: 40%;
}
/* footer */
.footer {
	background-image: url("img/runners.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	height: 550px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.footer-box {
	width: 50%;
}
/* responsiveness */
@media(max-width:1000px){
	.container {
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media(max-width:800px){
	.home {
		background-size: 450px;
	}
	.home-box {
		width: 60%;
	}
	.articles {
		justify-content: center;
	}
	.article {
		width: 47%;
	}
	.article:first-child {
		margin-right: 6%;
	}
	.band {
		flex-direction: column;
	}
	.band-box {
		width: 85%;
	}
	.band-img {
		width: 60%;
		order: -1;
		margin-bottom: 25px
	}
	.footer-box {
		width: 100%;
	}
}
@media(max-width:700px){
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media(max-width:600px){
	.nav {
		justify-content: center;
	}
	.nav-brand {
		margin-bottom: 15px;
	}
	.nav-box {
		width: 100%;
		justify-content: center;
	}
	.nav-form {
		margin-left: 0;
	}
	.article {
		width: 100%;
		text-align: center;
	}
	.article:first-child {
		margin-right: 0;
	}
	.footer {
		height: 400px;
		text-align: center;
	}
}
@media(max-width:550px){
	.home {
		background-image: none;
		height: 350px;
	}
	.home-box {
		width: 100%;
		text-align: center;
	}
	.box-text {
		border-left: 0;
		padding-left: 0;
		text-align: justify;
	}
	.band-box {
		width: 100%;
		text-align: center;
	}
	.band-img {
		width: 75%;
	}
}
@media(max-width:500px){
	.nav-menu, 
	.nav-form {
		width: 100%;
	}
	.nav-menu {
		justify-content: space-evenly;
		margin-bottom: 15px;
	}
	.nav-item {
		margin-right: 0;
	}
	.nav-form {
		text-align: center;
	}
}
@media(max-width:400px){
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.band-img {
		width: 90%;
	}
	.footer {
		height: 350px;
	}
}